html{
    margin: 0;

}
.div1 {
    background-color: #1F2937;
    display: flex;
    flex-direction: column;
}

h1 {
    font-size: 48px;
    color: #F9FAF8;
}

.PageDescription{
    align-items: ;
}

button{
    background-color: #3882F6 ;
}