body {
    margin: 0;
    font-family: 'Roboto', sans-serif;
}

nav {
    background-color: #1F2937;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    font-size: 24px;
    color: #F9FAF8;
    margin-left: 30px;
}

.links a {
    font-size: 18px;
    color: #F9FAF8;
    text-decoration: none;
    margin-right: 30px;

}

main {
    background-color: #1F2937;
    /* display: flex;
    flex-direction: column;
    justify-content: space-around; */

    
}

main h1 {
    font-size: 48px;
    font-weight: bolder;
    color: #F9FAF8;
    align-self: flex-start;
}

main p {
    font-size: 18px;
    color: #E5E7EB;
}

main button {
    display: inline-block;
    column-width: 20px;
    margin: 15px 15px;
    background-color: #3882F6;
    border-radius: 10px;
    border: 2px solid #3882F6;
    color: #E5E7EB;
}

main img {
    width: 450px;
    height: 225px;
    background: transparent;
    border: 2px solid white;
}

.main_container{
    display: flex;
    gap: 100px;
    align-items: center;
}

.main_text_container {
    width: 500px;
    margin-left: 20px;

}

.main_img_container {
    text-align: center;    
    color: #F9FAF8;
    width: 500px;
    height: 200px;
    background-color: gray;
}

.main_img_container p {
    margin: 90px 0 0 0;
}